<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Employees</title>
</head>
<body>
	<br/>
	<a th:href = "@{/}">Inicio</a>
	<br/><br/>
	<a th:href = "@{/employees/agregar}">Insertar nuevo registro </a>
	<br/>
	<br/>
	<div th:if="${employee != null and !employee.empty}">
		<table>
			<tr>
				<th>Employee id</th>
				<th>Fisrt name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Hire Date</th>
				<th>Job id</th>
				<th>Salary</th>
				<th>Commisision</th>
				<th>Manager id</th>
				<th>Department id</th>
				<th>Editar</th>
				<th>Eliminar</th>
			<tr th:each="item : ${employee}">
				<td th:text="${item.employeeId}"></td>
				<td th:text="${item.firstName}"></td>
				<td th:text="${item.lastName}"></td>
				<td th:text="${item.email}"></td>
				<td th:text="${item.phoneNumber}"></td>
				<td th:text="${item.hireDate}"></td>
				<td th:text="${item.jobId}"></td>
				<td th:text="${item.salary}"></td>
				<td th:text="${item.commisionPct}"></td>
				<td th:text="${item.managerId}"></td>
				<td th:text="${item.departmentId}"></td>
				<td> <a th:href = "@{/employees/editar/} + ${item.employeeId}" th:text="Editar" />  </td>
				<td> <a th:href = "@{/employees/eliminar/} + ${item.employeeId}" th:text="Eliminar" />  </td>
			</tr>
		</table>
	</div>
	<div th:if="${employee == null or employee.empty}">La lista esta
			vacia...</div>
</body>
</html>