 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<meta charset="UTF-8">
		<title>Insert</title>
	</head>
	<body>
		<a th:href="@{/jobshistories}">Regresar</a>
		<br/>
		<form th:action="@{/jobshistories/insert}" method="POST" th:object ="${jobHistory}">
			<br/>
			<label for="EmployeeId">Employee id :</label>
			<input type = "hidden" th:name = "EmployeeId" th:field="*{miPK.employeeId}" >
			<br/>
			<label for="startDate">StartDate : </label>
			<input type = "date" th:name = "startDate" th:field="*{miPK.startDate}"  >
			<br/>
			<label for="endDate">End Date: </label>
			<input type = "text" th:name = "endDate" th:field="*{endDate}" >
			<br/>
			<label for="jobId">Job id:</label>
			<input type = "text" th:name = "jobId" th:field="*{jobId}" >
			<br/>
			<label for="departmentId">DepartmentId:</label>
			<input type = "number" th:name = "departmentId" th:field="*{departmentId}" >
			<br/>
			<input type="submit" name="guardar" value="guardar" />
		</form>
	</body>  
</html>