<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>
	<br/>
	<h2>Spring Boot</h2>
	<a th:href="@{/countries}">Countries</a>
	<br/><br/>
	<a th:href="@{/regions}">Regions</a>
	<br/><br/>
	<a th:href="@{/locations}">Locations</a>
	<br/><br/>
	<a th:href="@{/departments}">Departments</a>
	<br/><br/>
	<a th:href="@{/employees}">Employees</a>
	<br/><br/>
	<a th:href="@{/jobs}">Jobs</a>
	<br/><br/>
	<a th:href="@{/jobshistories}">Job History</a>
	<br/><br/>
	<footer><h4>JCarlos AP</h4></footer>
</body>
</html>